body {
    background-color: #76a2a2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor general */
.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Estilo del resultado */
.resultado-card {
    background-color: #ef6502; /* Color destacado */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.resultado-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.resultado-num {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

/* Botón de regreso */
.btn-primary {
    background-color: #76a2a2;
    border: none;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 30px; /* Bordes redondeados para un diseño moderno */
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #5e8585;
    transform: scale(1.05); /* Efecto de crecimiento al pasar el cursor */
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
}


/* Logo */
.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}
/* estadio */
.resultado-estadio {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.resultado-container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Espacia los elementos */
    width: 100%;
}

.resultado-card {
    flex: 1; /* Permite que la tabla ocupe espacio */
}

.imagen-lateral img {
    max-width: 540px; /* Ajusta el tamaño de la imagen */
    margin-left: 20px; /* Espacio entre la imagen y la tabla */
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .resultado-container {
        flex-direction: column; /* Apilar elementos */
        align-items: center; /* Centrar */
        text-align: center;
    }

    .imagen-lateral img {
        max-width: 90%; /* Ajustar imagen al ancho de pantalla */
        margin-left: 0; /* Evitar separación innecesaria */
    }
}

@media screen and (max-width: 480px) {
    .resultado-text, .resultado-estadio {
        font-size: 16px; /* Reducir tamaño de texto */
    }

    .btn-primary {
        font-size: 16px;
        padding: 10px 15px;
    }
}